flows/Update_Account_Contacts.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_contact_to_update_list</name>
        <label>Add contact to update list</label>
        <locationX>927</locationX>
        <locationY>112</locationY>
        <assignmentItems>
            <assignToReference>Contactstoupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact_Country_to_Account_Country</name>
        <label>Set Contact Country to Account Country</label>
        <locationX>673</locationX>
        <locationY>19</locationY>
        <assignmentItems>
            <assignToReference>CurrentContact.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_contact_to_update_list</targetReference>
        </connector>
    </assignments>
    <description>A simple flow to set the MailingCountry for related contacts against an account with the account's BillingCountry value.</description>
    <interviewLabel>Update Account Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account Contacts</label>
    <loops>
        <name>Loop_through_Contacts</name>
        <label>Loop through Contacts</label>
        <locationX>382</locationX>
        <locationY>117</locationY>
        <assignNextValueToReference>CurrentContact</assignNextValueToReference>
        <collectionReference>accountContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Contact_Country_to_Account_Country</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Contacts</name>
        <label>Get Account Contacts</label>
        <locationX>220</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>accountContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MailingCountry</queriedFields>
        <sortField>AccountId</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>674</locationX>
        <locationY>221</locationY>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
        <inputReference>Contactstoupdate</inputReference>
    </recordUpdates>
    <startElementReference>Get_Account_Contacts</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BillingCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Contactstoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
